.DS_Store
*.skill
/protokolle/
protokolle/
/outputs/
outputs/
/.claude/*
!/.claude/skills/
/.claude/skills/*
!/.claude/skills/claude-fuer-deutsches-recht-develop
!/.claude/skills/claude-fuer-deutsches-recht-operate
__pycache__/
*.pyc
/dist/
.venv/
.venv-*/
venv/

testakten/**/*.zip
